*{
    padding: 0;
    /* margin: 0; */
}

.Menu{
    width: 100%;
    height: 60px;
    background-color: aliceblue;
    position:fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content:center;
}

.Menu a{
    font-size: 2rem;
    margin-left: 12px;
    text-decoration: none;
    color: #212529;
    padding: 6px;
    border: 1px solid #212529;
}
header {
    margin-top: 70px;
    width: 100%;
    height: 200px;
    border: 2px solid black;
    font-family: 'Righteous', cursive;
    text-align: center;
    background: url('imgback.jpg');
    background-attachment: fixed;
    color: #f5f5f5fd;
    letter-spacing: 4px;
}
main {
    color: #212529;
    font-family: 'Poppins', sans-serif;

}
header h1{
    font-size: 2rem;
}
header p {
    font-size: 1rem;
    letter-spacing: 6px;
}

main {
    margin-top: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 221, 239);
}
.main-text {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    list-style: none ;
    gap: 2px;
    margin: 12px;
}
 img{
    margin-top: 23px;
    max-width: 50%;
    border-radius: 23px;
}